[submodule "104isgd-dev-sms2-dao"]
	path = 104isgd-dev-sms2-dao
	url = https://github.com/104corp/104isgd-dev-sms2-dao.git
[submodule "104isgd-dev-sms2-service"]
	path = 104isgd-dev-sms2-service
	url = https://github.com/104corp/104isgd-dev-sms2-service.git
[submodule "104isgd-dev-sms2-api"]
	path = 104isgd-dev-sms2-api
	url = https://github.com/104corp/104isgd-dev-sms2-api.git